@model Mvc3HomeBrewShed.Models.PasswordResetModel

@{
    ViewBag.Title = "Password Reset";
    
}

<h2>Forgot your password</h2>
<p>
    Enter your account information below and click continue...
</p>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class="form-horizontal" }))
{
    @Html.ValidationSummary(true, "Please correct the errors and try again.", new { @class = "text-danger" })

    <div class="well">

        <fieldset>
           
            <legend class="pull-left">Account Information</legend>
            <div class="form-group">
                <label for="inputUserName" class="col-lg-2 control-label">@Html.LabelFor(m => m.UserName)</label>
                <div class="col-lg-10">                           
                     @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Enter user name" })       
                     @Html.ValidationMessageFor(m => m.UserName, null, new { @class = " col-lg-offset-2 col-lg-10 text-danger" })      
                </div>         
            </div> 
             @*<div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                  <button type="submit" class="btn btn-default">Continue...</button>
                </div>
              </div>*@
            <p>
            @if(Convert.ToBoolean(@ViewData["PasswordDisabled"]))
            {
                <button type="submit" class="btn-user btn-danger" disabled>
                <i class="glyphicon glyphicon-remove"></i> Stop <i class="glyphicon glyphicon-remove"></i>
                </button>
            }
            else
            {
                <button type="submit" class="btn-user btn-default">Continue <i class="glyphicon glyphicon-chevron-right"></i></button>
            } 
            </p> 
            
        </fieldset>
    </div>
}



@*

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class="form-horizontal" }))
{    
    <div class="well">
        <fieldset class="form-horizontal">
            <legend>Account Information</legend>

            <div class="control-group">
	            <label class="control-label">@Html.LabelFor(m => m.UserName) </label>
	            <div class="controls">
	                <div class="input-prepend">
	                <span class="add-on"><i class="icon-user"></i></span>
	                    @Html.TextBoxFor(m => m.UserName)
                        @Html.ValidationMessageFor(m => m.UserName)
	                </div>
	            </div>
	        </div>


                
@*            <div class="input-block-level">                
                User name: @ViewData["UserName"]
            </div>
            <div class="input-block-level">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>*@
            @*
            <div class="control-label">&nbsp;</div>
            <p>
                <input class="btn btn-success" type="submit" value="Continue..." />
            </p> 
        </fieldset>
    </div>
}*@